body {
  background: #283c86;
  background: -webkit-linear-gradient(to right, #45a247, #283c86);
  background: linear-gradient(to right, #45a247, #283c86);
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.clearfix {
  overflow: auto;
}
.form-group,
.form-control {
  margin: 10px;
}
.inp-email,
.inp-uname {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.inp-email button,
.inp-uname button {
  width: fit-content;
  height: fit-content;
  margin: 10px;
}
.email-error,
.username-error {
  text-align: left;
  margin-left: 20px;
  color: #ff0000;
}
.form-container {
  width: 40%;
  margin: 20px auto;
  padding: 20px 50px;
  border-radius: 10px;
}
.btn {
  width: fit-content;
}
@media (max-width: 650px) {
  .form-container {
    width: 90%;
  }
}
@media (min-width: 651px) and (max-width: 1000px) {
  .form-container {
    width: 60%;
  }
}
